diffusers==0.28.0
transformers==4.41.1
gradio
bitsandbytes==0.43.1
accelerate==0.30.1
protobuf==3.20
opencv-python
tensorboardX
safetensors
pillow
einops
torch==2.5.0
peft==0.10.0
xformers
onnxruntime
av
torchvision

spaces 
httpx[socks]
huggingface_hub==0.25.0
